body {
    background-color: #1a1a1a; 
    color: #fff; 
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #333; 
    padding: 20px;
    border-radius: 10px;
    width: 400px; 
}

h1 {
    text-align: center;
}

label, select, textarea {
    display: block;
    margin: 10px auto; 
}


textarea {
    width: 300px; 
}

select {
    width: 300px; 
}

select, textarea {
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
}

button {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; 
}